<body style="background-color: #240046;">
    
    <!--Cabecalho-->
    <!--<dir style="background-color: #6B05CF; margin:0 auto; position: relative;">
        <a href="/">
            <img src="/Images/Logo"/>
        </a>
        <div style="float: right;margin-top: 5%;">

            <!- Button trigger modal LOGIN ->
            <button type="button" style="background-color: #6B05CF; border-style: none; font-family: 'Roboto Serif'; font-size: 50px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
            </button>
        
            <!- Button trigger modal REGISTRAR ->
            <button type="button" style="background-color: #6B05CF; border-style: none; font-family: 'Roboto Serif'; font-size: 50px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Registrar
            </button>
            <!-Button trigger modal Menu->
            <button type="button" style="background-color: #6B05CF; border-style: none; font-family: 'Roboto Serif'; font-size: 50px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">  
                MENU
            </button>
        </div>
    </dir>-->
    <nav class="main-menu">


  
 <div>
    <a class="logo" href="http://startific.com">
    </a> 
  </div> 
<div class="settings"></div>
<div class="scrollbar" id="style-1">
      
<ul>
  
<li>                                   
<a href="http://startific.com">
<i class="fa fa-home fa-lg"></i>
<span class="nav-text">Home</span>
</a>
</li>   
   
<li>                                 
<a href="http://startific.com">
<i class="fa fa-user fa-lg"></i>
<span class="nav-text">Login</span>
</a>
</li>   

    
<li>                                 
<a href="http://startific.com">
<i class="fa fa-envelope-o fa-lg"></i>
<span class="nav-text">Contact</span>
</a>
</li>   
  


 
<li>
<a href="http://startific.com">
<i class="fa fa-heart-o fa-lg"></i>
                        
<span class="share"> 


<div class="addthis_default_style addthis_32x32_style">
  
<div style="position:absolute;
margin-left: 56px;top:3px;"> 
   
  

  
 <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="share-popup"><img src="http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png" width="30px" height="30px"></a>

   <a href="https://twitter.com/share" target="_blank" class="share-popup"><img src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set--icons-by-dakirby/512/Twitter_alt.png" width="30px" height="30px"></a>

   


<a href="https://plusone.google.com/_/+1/confirm?hl=en&url=_URL_&title=_TITLE_
" target="_blank" class="share-popup"><img src="http://icons.iconarchive.com/icons/danleech/simple/512/google-plus-icon.png" width="30px" height="30px"></a>   
  
  
  
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff17589278d8b3a"></script>
                       
                            
                              
                            
                          
                        </span>
                        <span class="twitter"></span>
                        <span class="google"></span>
                        <span class="fb-like">  
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fstartific&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
                       
                        </span>
                        <span class="nav-text">
                        </span>
                        
                    </a>

</li>
                            

  
  
</li>
<li class="darkerlishadow">
<a href="http://startific.com">
<i class="fa fa-clock-o fa-lg"></i>
<span class="nav-text">News</span>
</a>
</li>
  
<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-desktop fa-lg"></i>
<span class="nav-text">Technology</span>
</a>
</li>
  
<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-plane fa-lg"></i>
<span class="nav-text">Travel</span>
</a>
</li>
  
<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-shopping-cart"></i>
 <span class="nav-text">Shopping</span>
</a>
</li>
  
<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-microphone fa-lg"></i>
<span class="nav-text">Film & Music</span>
</a>
</li>

<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-flask fa-lg"></i>
<span class="nav-text">Web Tools</span>
</a>
</li>
  
<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-picture-o fa-lg"></i>
<span class="nav-text">Art & Design</span>
</a>
</li>

<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-align-left fa-lg"></i>
<span class="nav-text">Magazines
</span>
</a>
</li>
  
<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-gamepad fa-lg"></i>
<span class="nav-text">Games</span>
</a>
</li>
  
<li class="darkerli">
<a href="http://startific.com">
<i class="fa fa-glass fa-lg"></i>
<span class="nav-text">Life & Style
</span>
</a>
</li>
  
<li class="darkerlishadowdown">
<a href="http://startific.com">
<i class="fa fa-rocket fa-lg"></i>
<span class="nav-text">Fun</span>
</a>
</li>
 
  
</ul>

  
<li>
                                   
<a href="http://startific.com">
<i class="fa fa-question-circle fa-lg"></i>
<span class="nav-text">Help</span>
</a>
</li>   
    
  
<ul class="logout">
<li>
                   <a href="http://startific.com">
                         <i class="fa fa-lightbulb-o fa-lg"></i>
                        <span class="nav-text">
                            BLOG 
                        </span>
                        
                    </a>
</li>  
</ul>
        </nav>


    <!-- Modal LOGIN-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/LoginEnviar" method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
                        <input type="password" name="senha" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <a href="/EsqueciMinhaSenha">Esqueci minha senha</a>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </div>
        </div>
    </div>



  
    <!-- Modal REGISTAR -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/RegistrarEnviar" method="POST">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input name="Nome" type="text" class="form-control" id="floatingInput" placeholder="Nome completo">
                                        <label for="floatingInput">Nome completo</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeNome" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                            
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="email" name="Email" class="form-control" id="floatingInput" placeholder="Email">
                                        <label for="floatingInput">Email</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeEmail" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="password" name="Senha" class="form-control" id="floatingInput" placeholder="Senha">
                                        <label for="floatingInput">Senha</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input name="VisibilidadeNumeroCelular1" type="text" class="form-control" id="form1" placeholder="Numero">
                                        <input type="text" class="form-control" id="form2" placeholder="Numero" style="display: none;">
                                        <label for="form1">Numero</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeNumeroCelular1" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input name="VisibilidadeNumeroCelular2" type="text" class="form-control" id="form1" placeholder="Numero">
                                        <input type="text" class="form-control" id="form2" placeholder="Numero" style="display: none;">
                                        <label for="form1">Numero</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeNumeroCelular2" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <label for="exampleFormControlTextarea1" class="form-label">Data de Nascimento</label>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="date" name="DataNascimento" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">Data de nascimento</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeDataNascimento" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <label for="exampleFormControlTextarea1" class="form-label">Estado</label>
                                <div class="col">
                                    <select name="Estado" class="form-select" aria-label="Default select example">
                                        <option selected="selected" value="NULL">Campo vazio</option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MG">MG</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="PR">PR</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="RS">RS</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>  
                                    </select>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeEstado" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="Cidade" class="form-control" id="floatingInput" placeholder="Cidade">
                                        <label for="floatingInput">Cidade</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeCidade" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="Bairro" class="form-control" id="floatingInput" placeholder="Bairro">
                                        <label for="floatingInput">Bairro</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeBairro" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="Rua" class="form-control" id="floatingInput" placeholder="Rua">
                                        <label for="floatingInput">Rua</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeRua" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="Numero" class="form-control" id="floatingInput" placeholder="Numero">
                                        <label for="floatingInput">Numero</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeNumero" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="Complemento" class="form-control" id="floatingInput" placeholder="Complemento">
                                        <label for="floatingInput">Complemento</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <select name="VisibilidadeComplemento" class="form-select" aria-label="Default select example">
                                        <option value="0">Publico</option>
                                        <option value="1">Apenas com o codigo</option>
                                        <option selected="selected" value="2">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>           
    </div>

    <div style="display: flex;justify-content: center; position: absolute; left: 80px;">
        <!--ESQUERDA-->
        <div style="right:0%; width: 50%; display:inline; margin-left: 2%; margin-top: 2%; margin-right: 2%;">
            <span class="border border-2" style="width: 75px">
                <img src="/Images/Usuario" alt=""/>
            </span>
            <h1>{{Nome}}</h1>
            <h1>{{Email}}</h1>
            <h1>{{Numero}}</h1>
            <h1>{{DataNascimento}}</h1>
            <h1>{{Estado}}</h1>
            <h1>{{Cidade}}</h1>
            <h1>{{Bairro}}</h1>
            <h1>{{Rua}}</h1>

            <!-- Button trigger modal Cadastro Animal-->
            <button type="button" style="background-color: #6B05CF; border-style: none; font-family: 'Roboto Serif'; font-size: 30px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                Registrar animal
            </button>

            <!-- Modal Cadastro Animal-->
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/RegistrarAnimalEnviar" method="POST">
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input name="Nome" type="text" class="form-control" id="floatingInput" placeholder="Nome completo">
                                            <label for="floatingInput">Nome</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeNome" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="date" name="DataNascimento" class="form-control" id="floatingInput" placeholder="name@example.com">
                                            <label for="floatingInput">Data de nascimento</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeDataNascimento" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="Raca" class="form-control" id="floatingInput" placeholder="Rua">
                                            <label for="floatingInput">Raça</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeRua" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <label for="exampleFormControlTextarea1" class="form-label">Porte</label>
                                    <div class="col">
                                        <select name="Porte" class="form-select" aria-label="Default select example">
                                            <option selected="selected" value="NULL">Campo vazio</option>
                                            <option value="TO">Pequeno</option>  
                                            <option value="TO">Médio</option>  
                                            <option value="TO">Grande</option>  
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeEstado" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <label for="exampleFormControlTextarea1" class="form-label">Cor</label>
                                    <div class="col">
                                        <select name="Cor" class="form-select" aria-label="Default select example">
                                            <option selected="selected" value="NULL">Campo vazio</option>
                                            <option value="TO">Preto</option>  
                                            <option value="TO">Branco</option>  
                                            <option value="TO">Cinza</option>  
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeEstado" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div> 
            </div>
            
            <!-- Button trigger modal Cadastro Loja-->
            <button type="button" style="background-color: #6B05CF; border-style: none; font-family: 'Roboto Serif'; font-size: 30px; padding-right:25px; padding-left:25px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                Registrar loja
            </button>

            <!-- Modal Cadastro Loja-->
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/RegistrarLojaEnviar" method="POST">
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input name="Nome" type="text" class="form-control" id="floatingInput" placeholder="Nome completo">
                                            <label for="floatingInput">Nome</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeNome" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <label for="exampleFormControlTextarea1" class="form-label">Estado</label>
                                    <div class="col">
                                        <select name="Estado" class="form-select" aria-label="Default select example">
                                            <option selected="selected" value="NULL">Campo vazio</option>
                                            <option value="AC">AC</option>
                                            <option value="AL">AL</option>
                                            <option value="AM">AM</option>
                                            <option value="AP">AP</option>
                                            <option value="BA">BA</option>
                                            <option value="CE">CE</option>
                                            <option value="DF">DF</option>
                                            <option value="ES">ES</option>
                                            <option value="GO">GO</option>
                                            <option value="MA">MA</option>
                                            <option value="MG">MG</option>
                                            <option value="MS">MS</option>
                                            <option value="MT">MT</option>
                                            <option value="PA">PA</option>
                                            <option value="PB">PB</option>
                                            <option value="PE">PE</option>
                                            <option value="PI">PI</option>
                                            <option value="PR">PR</option>
                                            <option value="RJ">RJ</option>
                                            <option value="RN">RN</option>
                                            <option value="RO">RO</option>
                                            <option value="RR">RR</option>
                                            <option value="RS">RS</option>
                                            <option value="SC">SC</option>
                                            <option value="SE">SE</option>
                                            <option value="SP">SP</option>
                                            <option value="TO">TO</option>  
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeEstado" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="Cidade" class="form-control" id="floatingInput" placeholder="Cidade">
                                            <label for="floatingInput">Cidade</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeCidade" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="Bairro" class="form-control" id="floatingInput" placeholder="Bairro">
                                            <label for="floatingInput">Bairro</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeBairro" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="Rua" class="form-control" id="floatingInput" placeholder="Rua">
                                            <label for="floatingInput">Rua</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeRua" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="Numero" class="form-control" id="floatingInput" placeholder="Numero">
                                            <label for="floatingInput">Numero</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeNumero" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="Complemento" class="form-control" id="floatingInput" placeholder="Complemento">
                                            <label for="floatingInput">Complemento</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeComplemento" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="CNPJ" class="form-control" id="floatingInput" placeholder="Rua">
                                            <label for="floatingInput">CNPJ</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeRua" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="email" name="Email" class="form-control" id="floatingInput" placeholder="Email">
                                            <label for="floatingInput">Email</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeEmail" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                             
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="text" name="Descricao" class="form-control" id="floatingInput" placeholder="Email">
                                            <label for="floatingInput">Descrição</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select name="VisibilidadeEmail" class="form-select" aria-label="Default select example">
                                            <option value="0">Publico</option>
                                            <option value="1">Apenas com o codigo</option>
                                            <option selected="selected" value="2">Privado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>           
        </div>
   </div>
      

        <!--DIREITA-->
        <div style="display:inline; height: 100%; width: 50%; background-color: #C77DFF;">
            <h1>TESTE</h1>
            <!--ANIMAL-->
            
            {{#each animalCadastrado}}
            <div class="card" style="width: 18rem;">
                <a href="/Animal/{{animalCadastrado.AnimalId}}">
                    <img src="/Images/Logo" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">{{Nome}}</p>
                    </div>
                <a>
            </div>
            {{/each}}
            <!--LOJA-->
            
            {{#each lojaCadastrada}}
            <div class="card" style="width: 18rem;">
                <a href="/Loja/{{lojaCadastrada.LojaId}}">
                    <img src="/Images/Logo" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">{{Nome}}</p>
                    </div>
                <a>
            </div>
            {{/each}}
        </div>
    </div>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
    <script>
        $("input[id='form1']").on("input", function () {
            $("input[id='form2']").val(destroyMask(this.value));
            this.value = createMask($("input[id='form2']").val());
        })

        function createMask(string) {
            console.log(string + " " + parseInt(string.length))
            if(string.length>=11)
                return string.replace(/(\d{2})(\d{1})(\d{4})(\d{4})/, "($1) $2 $3-$4");
            return string.replace(/(\d{2})(\d{4})(\d{4})/, "($1) $2-$3");
        }

        function destroyMask(string) {
            console.log(string)
            return string.replace(/\D/g, '').substring(0, 11);
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>